@model IEnumerable<WebProgramlamaProje.Models.AIResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kullanici)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuggestedColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuggestedStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kullanici.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestedColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestedStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AIResultId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AIResultId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AIResultId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
